body{
  font-family: Cambria;
}

.slider-image{
  height: 600px;
}

.header2{
  color: red;
  text-align: center;
}

#intro-img{
  height: 250px;
}

.content-card{
  margin-top: 10px;
}

.card-title{
  text-align: center;
  color: #a03037;
}

.card-btn{
  display: inline-block;
  width: 100px;
  height: 35px;
  background-color: #a03037;
  color: #fff;
  padding: 5px;
}

.card-btn:hover{
  background-color: black;
  color: #fff;
  text-decoration: none;
}

.bt-group{
  text-align: center;
}

.footer{
  background-color: #a03037;
  color: #fff;
}